<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>活动页面</title>
    <link href="__PUBLIC__/css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
<div class="main">
    <div class="bgmain">
        <div class="arcs">
            您已经砍掉<span>100</span>元，还剩<span>{$symoney}</span>元
        </div>
        <div style="width: 100%; margin:0 auto;">
            <button id="kanjia">    <if condition="$zopenid eq $openid">自砍一刀
                <else /> 帮砍一刀
            </if></button>
            <button id="helps">寻求帮助</button>
        </div>
        <div>
            <a href="{:U('Index/baoming')}">我要报名</a>
        </div>
        <div>
            {$openid}
            <br/>
            {$zopenid}
            <br />
            {$flag}
            <input type="hidden" id="zopenid" value="{$zopenid}"/>
            <input type="hidden" id="openid" value="{$openid}"/>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$signpack.appId}', // 必填，公众号的唯一标识
        timestamp: {$signpack.timestamp}, // 必填，生成签名的时间戳
        nonceStr: '{$signpack.nonceStr}', // 必填，生成签名的随机串
        signature: '{$signpack.signature}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        wx.onMenuShareAppMessage({

            title: 'hello world!!!', // 分享标题
            desc: '这是一个测试信息', // 分享描述
            link: 'http://ld.linyiit.cn/gejun/index.php/home/index/getinfo/zopenid/{$zopenid}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2545306152,1561378677&fm=27&gp=0.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                alert('分享成功');
// 用户确认分享后执行的回调函数
            },
            cancel: function () {
// 用户取消分享后执行的回调函数
            }
        });
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });
    wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });
    wx.onMenuShareTimeline({
        title: 'hello world', // 分享标题
        link: 'http://ld.linyiit.cn/gejun', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '', // 分享图标
        success: function () {
            // 用户确认分享后执行的回调函数
        },
    });




    $('#kanjia').click(function(){

        var openid=$('#openid').val();
        var zopenid=$('#zopenid').val();
        //alert('111');
       // alert(zopenid);
        $.ajax({
            type: 'POST',
            url: "{:U('Index/kanjia')}",
            data:{openid:openid,zopenid:zopenid},
            success: function(result){
                alert(result.msg);
            },

        });
    });
</script>
</html>